<p style="margin-top: 20px;">It appears that this item does not have a call number.</p>
<p>
  Please view the 
  <%= link_to "item record page", VirtualShelf.config.catalog_link + document_number, :target => '_top' %>
  for more information.
</p>
