<%= render :partial => 'include_periodicals' %>
<div class="table-div">
  <%= link_to record_path(:page => @page.pred), :class => "table-cell-div arrow arrow-left" do %>
    <div class="span1"><i class="icon-chevron-left icon-large"></i></div>
  <% end %>
  <%= render 'thumbnails', :records => @records %>
  <%= link_to record_path(:page => @page.next), :class => "table-cell-div arrow arrow-right" do %>
    <div class="span1"><i class="icon-chevron-right icon-large"></i></div>
  <% end %>
</div>
